
input{
	@include form-element();

	background: $white;

	&[type="checkbox"],
	&[type="radio"]{
		border: none;
		box-shadow: none;
		margin-left: 10px;
	}
}


/* ********************************************* */


button,
input[type="submit"],
input[type="reset"],
.button,
a.button{
	&,
	&:active,
	&:focus,
	&:visited,
	&:link{
		@include form-element();

		padding-left: 20px;
		padding-right: 20px;
		background: $middle;
		
		font-weight: bold;
		text-decoration: none;

		@include linear-gradient($middle, $light, $middle);
	}
	

	&:hover{
		background: $light;
	}
}
