/*
Grid Media Types:

xl	=	1180	,	@media screen and (min-width: 1280px)
lg	=	1024	,	@media screen and (min-width: 1024px)
md	=	 768	,	@media screen and (min-width:  768px)
sm	=	 568	,	@media screen and (min-width:  568px)
*/



@mixin grid-default($res){
	.col#{$res}-1	,
	.col#{$res}-2	,
	.col#{$res}-3	,
	.col#{$res}-4	,
	.col#{$res}-5	,
	.col#{$res}-6	,
	.col#{$res}-7	,
	.col#{$res}-8	,
	.col#{$res}-9	,
	.col#{$res}-10	,
	.col#{$res}-11	,
	.col#{$res}-12	,

	.col#{$res}-f2	,
	.col#{$res}-f1	,
	.col#{$res}-f0{
		display: inline-block;
		width: 100%;
		vertical-align: top;

		@include ie6box();
	}
}



@mixin grid($res){
	.col#{$res}-1	{ width:   8.33%; }
	.col#{$res}-2	{ width:  16.66%; }
	.col#{$res}-3	{ width:  25.00%; }
	.col#{$res}-4	{ width:  33.33%; }
	.col#{$res}-5	{ width:  41.66%; }
	.col#{$res}-6	{ width:  50.00%; }
	.col#{$res}-7	{ width:  58.33%; }
	.col#{$res}-8	{ width:  66.66%; }
	.col#{$res}-9	{ width:  75.00%; }
	.col#{$res}-10	{ width:  83.33%; }
	.col#{$res}-11	{ width:  91.66%; }
	.col#{$res}-12	{ width: 100.00%; }

	.col#{$res}-f2	{ width:  61.80%; }
	.col#{$res}-f1	{ width:  38.20%; }
	.col#{$res}-f0	{ width:  23.60%; }
}



/* Default values, shared for all grids */

@include grid-default("");
@include grid-default("-sm");
@include grid-default("-md");
@include grid-default("-lg");
@include grid-default("-xl");



/* Default values, not responsive */

@include grid("");



/* lg 568 - 768, under this width: 100% will be used */
@media (min-width:  568px){
@include grid("-sm");
}



/* lg 768 - 1024 */
@media (min-width:  768px){
@include grid("-md");
}



/* lg 1024 - 1280 */
@media (min-width: 1024px){
@include grid("-lg");
}



/* xl 1280 and above */
@media (min-width: 1280px){
@include grid("-xl");
}


