@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
	        border-radius: $radius;
}


@mixin linear-gradient($a, $b, $c){
	background-image: -webkit-linear-gradient(top, $a, $b, $c);
	background-image:      -o-linear-gradient(top, $a, $b, $c);
	background-image:    -moz-linear-gradient(top, $a, $b, $c);
	background-image:     -ms-linear-gradient(top, $a, $b, $c);
	background-image:         linear-gradient(top, $a, $b, $c);
}


@mixin box-transperant() {
	border: solid 1px $black;
	box-shadow: 1px 1px $black;
}


@mixin box() {
	@include box-transperant();
	
	background: $light;
}


@mixin form-element() {
	@include box-transperant();
	@include border-radius(5px);

	margin: 2px;
	padding: 5px;

	font-size: 12px;
	color: $black;

	vertical-align: middle;
	
	
	&:disabled,
	&[disabled]{
		border: solid 1px $middle;
		background: $light;
		color: $middle;

		pointer-events: none;
		cursor: default;
	}
}

