
[hidden]{
	display: none;
}


/* ================================ */


.left{
	text-align: left;
}


.right{
	text-align: right;
}


.center{
	text-align: center;
}


/* ================================ */


.height-control-table{
	display: table;
	border-spacing: 2px;
	width: 100%;
}


.height-control-table > div{
	display: table-cell;
	rem--border: solid 1px black;
	rem--background: yellow;
}


/* ================================ */


.height-control{
}


.height-control > div{
	display: inline-block;
	vertical-align: top;
}


